<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- Repo -->
    <preference for="Praxigento\Downline\Repo\Entity\IChange"
                type="Praxigento\Downline\Repo\Entity\Def\Change"/>
    <preference for="Praxigento\Downline\Repo\Entity\ICustomer"
                type="Praxigento\Downline\Repo\Entity\Def\Customer"/>
    <preference for="Praxigento\Downline\Repo\Entity\ISnap"
                type="Praxigento\Downline\Repo\Entity\Def\Snap"/>

    <!-- Services -->
    <preference for="Praxigento\Downline\Service\ICustomer"
                type="Praxigento\Downline\Service\Customer\Call"/>
    <preference for="Praxigento\Downline\Service\IMap"
                type="Praxigento\Downline\Service\Map\Call"/>
    <preference for="Praxigento\Downline\Service\ISnap"
                type="Praxigento\Downline\Service\Snap\Call"/>

    <!-- Tools -->
    <preference for="Praxigento\Downline\Tool\ITree"
                type="\Praxigento\Downline\Tool\Def\Tree"/>

</config>