<?xml version="1.0"?>
<config
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">


    <!-- ************ -->
    <!-- API Services -->
    <!-- ************ -->
    <!--<preference for="\Praxigento\Core\Api\Service\Customer\Get"-->
                <!--type="\Praxigento\Downline\Service\Customer\Get"/>-->
    <preference for="\Praxigento\Core\Api\Service\Customer\Search"
                type="\Praxigento\Downline\Service\Customer\Search"/>
    <preference for="\Praxigento\Downline\Api\Service\Snap\Clean"
                type="\Praxigento\Downline\Service\Snap\Clean"/>


    <!-- *** -->
    <!-- API -->
    <!-- *** -->
    <preference for="\Praxigento\Downline\Api\Customer\SearchInterface"
                type="\Praxigento\Downline\Service\Customer\Search"/>
    <preference for="\Praxigento\Downline\Api\Tree\GetInterface"
                type="\Praxigento\Downline\Api\Tree\Get"/>
    <preference for="\Praxigento\Downline\Api\Tree\Get\EntriesInterface"
                type="\Praxigento\Downline\Api\Tree\Get\Entries"/>
    <preference for="\Praxigento\Downline\Api\Tree\Get\UplineInterface"
                type="\Praxigento\Downline\Api\Tree\Get\Upline"/>



    <!-- ******* -->
    <!-- API Web -->
    <!-- ******* -->
    <preference for="\Praxigento\Downline\Api\Web\Customer\Get\ByIdInterface"
                type="\Praxigento\Downline\Web\Customer\Get\ById"/>
    <preference for="\Praxigento\Downline\Api\Web\Customer\Search\ByKeyInterface"
                type="\Praxigento\Core\Web\Customer\Search\ByKey"/>

    <!-- ********************** -->
    <!-- Console (CLI Commands) -->
    <!-- ********************** -->
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="prxgt_downline_cmd_clean" xsi:type="object">\Praxigento\Downline\Cli\Cmd\Tree\Clean</item>
                <item name="prxgt_downline_cmd_snaps" xsi:type="object">\Praxigento\Downline\Cli\Cmd\Tree\Snaps</item>
            </argument>
        </arguments>
    </type>


    <!-- ***** -->
    <!-- Infra -->
    <!-- ***** -->
    <preference for="\Praxigento\Core\App\Api\Web\IAuthenticator"
                type="\Praxigento\Downline\Infra\Api\Authenticator"/>

    <!-- ******** -->
    <!-- Services -->
    <!-- ******** -->
    <preference for="Praxigento\Downline\Service\ICustomer"
                type="Praxigento\Downline\Service\Customer\Call"/>
    <preference for="Praxigento\Downline\Service\IMap"
                type="Praxigento\Downline\Service\Map\Call"/>
    <preference for="Praxigento\Downline\Service\ISnap"
                type="Praxigento\Downline\Service\Snap\Call"/>

    <!-- ***** -->
    <!-- Tools -->
    <!-- ***** -->
    <preference for="\Praxigento\Downline\Tool\IReferral"
                type="Praxigento\Downline\Tool\Def\Referral"/>
    <preference for="Praxigento\Downline\Tool\ITree"
                type="Praxigento\Downline\Tool\Def\Tree"/>

    <!-- ******* -->
    <!-- PLUGINS -->
    <!-- ******* -->
    <type name="\Magento\Customer\Model\Customer">
        <!-- define default group ID for referral customers -->
        <plugin name="praxigento_downline"
                type="\Praxigento\Downline\Plugin\Customer\Model\Customer"
                sortOrder="100" disabled="false"/>
    </type>

    <type name="\Magento\Customer\Model\GroupManagement">
        <!-- replace anonymous group for referrals -->
        <plugin name="praxigento_warehouse_plugin"
                type="\Praxigento\Downline\Plugin\Customer\Model\GroupManagement"
                sortOrder="100" disabled="false"/>
    </type>

    <type name="\Magento\Customer\Model\Session">
        <!-- replace anonymous group for referrals -->
        <plugin name="praxigento_warehouse_plugin"
                type="\Praxigento\Downline\Plugin\Customer\Model\Session"
                sortOrder="100" disabled="false"/>
    </type>

    <type name="\Magento\Framework\App\FrontControllerInterface">
        <!-- analyze referral codes in requests (plugin should be loaded before page cache plugins, see "sortOrder") -->
        <plugin name="praxigento_downline"
                type="\Praxigento\Downline\Plugin\Framework\App\FrontControllerInterface"
                sortOrder="-100" disabled="false"/>
    </type>

    <type name="\Magento\Framework\App\ResponseInterface">
        <!-- set referral cookie -->
        <plugin name="praxigento_downline"
                type="\Praxigento\Downline\Plugin\Framework\App\ResponseInterface"
                sortOrder="100" disabled="false"/>
    </type>

    <type name="\Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <!-- Add custom columns to the customer grid -->
        <plugin name="praxigento_downline"
                type="\Praxigento\Downline\Plugin\Framework\View\Element\UiComponent\DataProvider\CollectionFactory"
                sortOrder="100" disabled="false"/>
    </type>

    <type name="\Magento\Framework\Url">
        <!-- MOBI-731: don't remove DCP SPA states from Magento frontend navigator (customer account) -->
        <plugin name="praxigento_downline"
                type="\Praxigento\Downline\Plugin\Framework\Url"
                sortOrder="100" disabled="false"/>
    </type>

</config>