<?xml version="1.0"?>
<config
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- *********** -->
    <!-- API Helpers -->
    <!-- *********** -->
    <preference for="Praxigento\Downline\Api\Helper\Referral\CodeGenerator"
                type="Praxigento\Downline\Helper\Referral\CodeGenerator"/>
    <preference for="Praxigento\Downline\Api\Helper\Config"
                type="Praxigento\Downline\Helper\Config"/>
    <preference for="Praxigento\Downline\Api\Helper\Referral"
                type="Praxigento\Downline\Helper\Referral"/>
    <preference for="Praxigento\Downline\Api\Helper\Tree"
                type="Praxigento\Downline\Helper\Tree"/>


    <!-- ********************* -->
    <!-- API Services Rewrites -->
    <!-- ********************* -->
    <preference for="Praxigento\Core\Api\Service\Customer\Search"
                type="Praxigento\Downline\Service\Customer\Search"/>

    <!-- ************ -->
    <!-- API Services -->
    <!-- ************ -->
    <preference for="Praxigento\Downline\Api\Service\Customer\Add"
                type="Praxigento\Downline\Service\Customer\Add"/>
    <preference for="Praxigento\Downline\Api\Service\Customer\Parent\Change"
                type="Praxigento\Downline\Service\Customer\Parent\Change"/>
    <preference for="Praxigento\Downline\Api\Service\Customer\Downline\SwitchUp"
                type="Praxigento\Downline\Service\Customer\Downline\SwitchUp"/>
    <preference for="Praxigento\Downline\Api\Service\Customer\Get\ById"
                type="Praxigento\Downline\Service\Customer\Get\ById"/>
    <preference for="Praxigento\Downline\Api\Service\Customer\Search"
                type="Praxigento\Downline\Service\Customer\Search"/>
    <preference for="Praxigento\Downline\Api\Service\Snap\Calc"
                type="Praxigento\Downline\Service\Snap\Calc"/>
    <preference for="Praxigento\Downline\Api\Service\Snap\Clean"
                type="Praxigento\Downline\Service\Snap\Clean"/>
    <preference for="Praxigento\Downline\Api\Service\Snap\GetLastDate"
                type="Praxigento\Downline\Service\Snap\GetLastDate"/>


    <!-- ******* -->
    <!-- API Web -->
    <!-- ******* -->
    <preference for="Praxigento\Downline\Api\Web\Customer\Get\ByIdInterface"
                type="Praxigento\Downline\Web\Customer\Get\ById"/>
    <preference for="Praxigento\Downline\Api\Web\Customer\Search\ByKeyInterface"
                type="Praxigento\Downline\Web\Customer\Search\ByKey"/>


    <!-- ********************** -->
    <!-- Console (CLI Commands) -->
    <!-- ********************** -->
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="prxgt:downline:parent:change" xsi:type="object">Praxigento\Downline\Cli\Parent\Change</item>
                <item name="prxgt:downline:clean" xsi:type="object">Praxigento\Downline\Cli\Tree\Clean</item>
                <item name="prxgt:downline:snaps" xsi:type="object">Praxigento\Downline\Cli\Tree\Snaps</item>
                <item name="prxgt:downline:verify" xsi:type="object">Praxigento\Downline\Cli\Tree\Verify</item>
            </argument>
        </arguments>
    </type>


    <!-- ******** -->
    <!-- Services -->
    <!-- ******** -->
    <preference for="Praxigento\Downline\Service\IMap"
                type="Praxigento\Downline\Service\Map\Call"/>
    <preference for="Praxigento\Downline\Service\ISnap"
                type="Praxigento\Downline\Service\Snap\Call"/>


    <!-- ******* -->
    <!-- PLUGINS -->
    <!-- ******* -->
    <type name="Magento\Customer\Controller\Account\CreatePost">
        <!--MOBI-1319: disable customer registration w/o sale order. -->
        <plugin name="praxigento_downline"
                type="Praxigento\Downline\Plugin\Customer\Controller\Account\CreatePost"
                sortOrder="100" disabled="false"/>
    </type>

    <type name="Magento\Customer\Model\AccountManagement">
        <!-- Look up for customer's email by MLM ID -->
        <plugin name="praxigento_downline"
                type="Praxigento\Downline\Plugin\Customer\Model\AccountManagement"
                sortOrder="100" disabled="false"/>
    </type>

    <type name="Magento\Customer\Model\Customer">
        <!-- define default group ID for referral customers -->
        <plugin name="praxigento_downline"
                type="Praxigento\Downline\Plugin\Customer\Model\Customer"
                sortOrder="100" disabled="false"/>
    </type>

    <type name="Magento\Customer\Model\GroupManagement">
        <!-- replace anonymous group for referrals -->
        <plugin name="praxigento_warehouse_plugin"
                type="Praxigento\Downline\Plugin\Customer\Model\GroupManagement"
                sortOrder="100" disabled="false"/>
    </type>

    <type name="Magento\Customer\Model\Session">
        <!-- replace anonymous group for referrals -->
        <plugin name="praxigento_warehouse_plugin"
                type="Praxigento\Downline\Plugin\Customer\Model\Session"
                sortOrder="100" disabled="false"/>
    </type>

    <type name="Magento\Framework\App\FrontControllerInterface">
        <!-- analyze referral codes in requests (plugin should be loaded before page cache plugins, see "sortOrder") -->
        <plugin name="praxigento_downline"
                type="Praxigento\Downline\Plugin\Framework\App\FrontControllerInterface"
                sortOrder="-100" disabled="false"/>
    </type>

    <type name="Magento\Framework\App\ResponseInterface">
        <!-- set referral cookie -->
        <plugin name="praxigento_downline"
                type="Praxigento\Downline\Plugin\Framework\App\ResponseInterface"
                sortOrder="100" disabled="false"/>
    </type>

    <type name="Magento\Framework\Mail\Template\TransportBuilder">
        <!-- Add downline related attributes to customer data (registration emails) -->
        <plugin name="praxigento_downline"
                type="Praxigento\Downline\Plugin\Framework\Mail\Template\TransportBuilder"
                sortOrder="100" disabled="false"/>
    </type>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <!-- Add custom columns to the customer grid -->
        <plugin name="praxigento_downline"
                type="Praxigento\Downline\Plugin\Framework\View\Element\UiComponent\DataProvider\CollectionFactory"
                sortOrder="100" disabled="false"/>
    </type>

    <type name="Magento\Framework\Url">
        <!-- MOBI-731: don't remove DCP SPA states from Magento frontend navigator (customer account) -->
        <plugin name="praxigento_downline"
                type="Praxigento\Downline\Plugin\Framework\Url"
                sortOrder="100" disabled="false"/>
    </type>

    <type name="Magento\Quote\Model\QuoteRepository\SaveHandler">
        <!-- MOBI-1322: force "saveInAddressBook" attribute for billing address
                to get country code for downline on guest checkout.
        -->
        <plugin name="praxigento_downline"
                type="Praxigento\Downline\Plugin\Quote\Model\QuoteRepository\SaveHandler"
                sortOrder="100" disabled="false"/>
    </type>

</config>